#search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./background_search_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

#sort-options {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: white;
}

#sort-options li {
  display: inline;
  margin: 0 2rem;
  color: white;
  font-size: 1.1rem;
  opacity: 80%;
  justify-content: center;
}

#sort-options li:hover {
  cursor: pointer;
  color: rgb(182, 152, 17);
}

.active {
  color: rgb(182, 152, 17) !important;
  font-weight: bold;
}

hr {
  margin: 1.5rem auto;
  width: 30%;
  opacity: 50%;
}

#user-input {
  margin: 1rem auto;
}

.search-input {
  margin: 0 0.7rem;
  font-size: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

#submit {
  display: block;
  width: 8rem;
  height: 2rem;
  margin: 1rem auto;
  color: white;
  background-color: rgb(182, 152, 17);
  border: 1px solid rgb(107, 101, 17);
  border-radius: 3px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px rgb(47, 53, 10);
}

#submit:hover {
  cursor: pointer;
  background-color: rgb(81, 67, 2);
}

@media only screen and (max-width: 560px) {
  #search-bar {
    background-image: url("./background_search_mobile.jpg");
  }

  #sort-options li {
    display: block;
  }


  .search-input {
    margin: 0 auto;
    margin-bottom: 0.86rem;
  }

}
